h2{

	text-align: center;
	color: #b08fe2;
	/*effet pour le titre*/
	text-shadow:1px 1px 2px black;
	/*déclaration de l'animation*/
	
	animation-name: animheading;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;


}
@keyframes animheading{
	from{
		color: #b08fe2;
	
	}
	to{
		color:#7b1fa2;
		
	}
}
