
form{
	background-color: #f2dede; 
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	/*éviter le cole avec padding*/
	padding: 20px;
	border-radius: 0px 50px 0px 50px;
	/*détacher en haut */
	margin-top: 40px;
	box-shadow: 1px 1px 7px black;
}
h1{
	text-align: center;
	text-shadow: 1px 1px 5px black;
}
.inp{
	background-color: transparent;
	/*caché le caré de saisir email*/
	border-style: none;
	width:90%;
}
.divc{
	/*ajouté un tré a la din d'une div*/
	border-bottom: solid 2px black;

}
#eyesl{
	/*ne pas affiché*/
	display: none;
}
#cnx{
width: 100%;
background-color: grey;
border-radius: 10px;
}